<nav class="navbar sticky-top  navbar-expand-lg  navbar-dark bg-dark" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Social Networking</a>
      <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  id="navbarNavAltMarkup" data-toggle="collapse" data-target="#navbarSupportedContent.show">
        <div class="navbar-nav">
          <a class="nav-link "  routerLink="" routerLinkActive="active">User List</a>
          <a class="nav-link" [routerLink]="['userprofile','0F8JIqi4zwvb77FGz6Wt']" routerLinkActive="active">Full User Profile</a>
          <a class="nav-link"  routerLink="postlist" routerLinkActive="active">Posts List</a>
          <a class="nav-link"  [routerLink]="['userpost','0F8JIqi4zwvb77FGz6Wt']"  routerLinkActive="active">User Posts</a>
          <a class="nav-link"  [routerLink]="['commentlist','SFAt3mJK0qu4QOd9LgSX']" routerLinkActive="active">Comments List</a>
          <a class="nav-link"  routerLink="taglist" routerLinkActive="active">Tag List</a>
          <a class="nav-link" [routerLink]="['postbytag','water']" routerLinkActive="active">Post by Tag</a>
        </div>
      </div>
    </div>
  </nav>
  