<!DOCTYPE html>
<html>
<style>
  form {
    margin: 35px auto;
    padding: 10px;
    width: 50vh;
    height: 80wh;
    border: 1px solid #CCC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
h3 {
  display: inline-block;
  margin: 0;
}
button{
    float: right;
    padding: 5px;
}
.submit{
  width: 100px;
  margin-left: 95px;
  margin-bottom: 10px;
}
</style>
<body>

<div>
  <form  action="data" method="post">
   <div>
    <h3 name:"FileName">{{player1}}</h3>
<button type="button" onClick="btn1()">Click me</button>   </div>
   <p style="margin-left:80px;">Wins:<span id ="btn1" style="margin-left: 40px;">0</span></p>
   <div>
    <h3>{{player2}}</h3>
<button type="button" onClick="btn2()">Click me</button>   </div>
   <p style="margin-left:80px;">Wins:<span  id ="btn2" style="margin-left: 40px;">0</span></p>
   <h4 >Current winner: </h4>
   <h4>Win difference:<span id="dif"></span></h4>

    <input  class="submit" type="submit" value="Save Game">
  </form>
</div>
<script>
   var btn1clicks =0;
    var btn2clicks =0;
  function btn1() {
  btn1clicks += 1;
  document.getElementById("btn1").innerHTML = btn1clicks;
};
function btn2() {
  btn2clicks += 1;
  document.getElementById("btn2").innerHTML = btn2clicks;
};

</script>
</body>
</html>
