<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../views/index.css"> </head>

<body>
	<div class="container">
		<form name="myform" id="form">
			<h1 style="text-align:center;font-size:25px; margin-top: 15px;">Player</h1>
			<div>
				<label id="name-label" for="name">Player 1</label>
				<br>
				<input type="text" id="firstusername" name="firstuser_name" placeholder="Enter name here"> </div>
			<div>
				<label id="name-label" for="name">Player 2</label>
				<br>
				<input type="text" id="secondusername" name="seconduser_name" placeholder="Enter name here"> </div>
			<div id="submitbutton">
				<button type="button" onclick="show()" id="submit">Continue</button>
			</div>
		</form>
		<form id="form2" style="display: none">
			<div>
				<h3 id="p1"></h3>
				<button type="button" id="addbtn" onClick="btn1()">Add win</button>
			</div>
			<p style="margin-left:80px;">Wins:<span id="btn1" style="margin-left: 40px;">0</span></p>
			<div>
				<h3 id="p2"></h3>
				<button type="button" id="addbtn" onClick="btn2()">Add win</button>
			</div>
			<p style="margin-left:80px;">Wins:<span id="btn2" style="margin-left: 40px;">0</span></p>
			<h4>Current winner:<span id="winner"></span> </h4>
			<h4>Win difference:<span id="dif"></span></h4>
			<button class="savebtn" onclick="sendData()">Save Game</button>
		</form>
	</div>
	<script src="../views/index.js"></script>
</body>

</html>