<h1>User Details</h1>
<div class="card mb-3 text-center text-lg-left">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." alt="...">
      </div>
      <div class="col-md-4">
        <b>name</b><br>
        <b>Gender:</b><br>
        <b>Date Of Birth:</b><br>
        <b>Registor Date: </b><br><br>
        <b>Email:</b><br>
        <b>Phone:</b><br>
      </div>
      <div class="col-md-4">
        <div class="card-body">
         <b>Address</b><br>
         <p> address 111</p>
        </div>
        <div>
            <img src="..." alt="...">  
        </div>
      </div>
    </div>
  </div>
