<div class="row g-4"  *ngIf ="commentlist.length >0; else nodata" >
    <div class="col-sm-3"  *ngFor ="let comment of commentlist" >
      <div   class="card ">
        <mat-card-header>
          <mat-title-group>
         <mat-icon > 
          <img   class="example-header-image" src="{{comment?.owner.picture}}" alt="icon" >
         </mat-icon>
          <mat-card-title style="margin-left: 23px;">{{comment?.owner.firstName}}</mat-card-title>
          <mat-card-subtitle> {{comment?.owner.lastName}}</mat-card-subtitle>
          <p style="margin-left: 48px;">{{comment.publishDate|date:'MMM d, y, h:mm:ss'}}</p>
          <hr class="solid">
        </mat-title-group>
        </mat-card-header>
        <div class="card-body">
          <div class="group">
                 <span style="margin-top: 3px; ">{{comment.message}}</span >
              
          </div>  
        </div>  
      </div>
    </div>
    </div>
    <ng-template #nodata>
      <h1 style="background-color: rgb(255, 255, 0);text-align: center;">loading....</h1>
    </ng-template>
    